extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	generator: Doublemcz\NetteGenerator\DI\GeneratorExtension

generator:
	componentsDir: %appDir%/../Components
	componentNamespace: AcmeCompany\Components
	generators:
		doctrineForm:
			entityNamespace: AnotherBundle\Entities